.home {
  width: 100%;
  box-sizing: border-box;
  padding: 2rem 0;
}

.movies-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
  gap: 2rem;
}
